<launch>
  
  <arg name="hertz" default="10" />

  <node pkg="beginner_tutorials" type="add_two_ints_server" name="add_two_ints_server">
  </node>
  <node pkg="beginner_tutorials" type="talker" name="talker" args="$(arg hertz)">
  </node>
  <node pkg="beginner_tutorials" type="listener" name="listener">
  </node>
  <node pkg="rosbag" type="record" name="record" output="screen" args="-a">
  </node> 

</launch>
